<div class="l-container">
  <% @houses.each do |house| %>
    <div class="b-game-card">
      <div class="b-game-card__cover">
        <%= image_tag house.image_url, alt: "alttext", class: "image-house" %>
      </div>
      <%= link_to "", house_path(house), class: 'card-link' %>
    </div>
  <% end %>
</div>